<script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
<h1><%= msg %></h1>
<hr/>
<h1>760-303-4118</h1>
<h2>Text: 'green', 'blue', or any color to change the lights.</h2>
<h2>Text: 'chaos' to unleash chaos.</h2>
<script type="text/javascript" src="/js/trick.js" ></script>